body{
    background-color: black;
    background-size: cover;
}

#login{
    height: auto;
    width: 300px;

    border-style: solid;
    border-color: green;

    margin-left: 40%;
    margin-top: 20%;

    
}

#admin_table{
    color: aliceblue;
    position: relative;
    padding-left:25px;
    
}

#top_text{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
    padding-bottom: 20px;
}

.admin_input{
    height: 20px;
}

.admin_button{
    border-radius: 10px;
    background-color: greenyellow;

    width: 50%;

}

.admin_button:hover{
    background-color: greenyellow;
    
    border-color: aqua;
    border-style: solid;
    
}

/*Admin Home Page*/

.process_header{

    color: white;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#adminProcessTable{
    margin-left: 40%;
    
}

table#adminProcessTable tr td a{
    border-style: solid;
    display: block;
    height: 50px;
    width: 170px;
    border-width: 1px;
    border-radius: 10px;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: azure;
    background-color: #40af40;
}



table#adminProcessTable tr td a:hover{
    background-color: #096909;
}