/*SHOW COMPUTER*/

#show_computer{

    border-style: solid;
    position: relative;
    display: block;
    background-color: #689bbd;
    width: 100%;
    height: auto;
}

#show_computer_img{

    border-style: solid;
    border-width: 1px;
    
    width: 150px;
    height: 150px;
    float: left;
    position: relative;
    left: 30%;
    top: 10%;
}


#show_computer_attributes{
    position: relative;
    left: 5%;
}

#show_computer_info{
    position: relative;
    left: 30%;
    top: 10%;

}

.show_computer_table_element{
    text-align:start;
}

#show_price{

    position: relative;
    width: 150px;
    height: 70px;
    border-style: none;
    display: block;
    font-size: 15px;

    bottom: 40px;
    left: 30%;

}

#description{
    
    width: 50%;
}

/*right-side images*/

#images{
    height: 200px;
    width: 100%;
    overflow: scroll;
    position: relative;
    

    
   

}

#images ul{
    list-style-type: none;
}

.image_element{
    border: solid px;
    height: 100px;
    width: 100px;
    
    float: left;
    margin: 5px;
    
    
}


/*Comments*/

#do_comment{
    border: solid;
    height: 250px;
    width: 100%;
    position: relative;

    

    background-color: rgb(39, 119, 173);
}

/*CART*/

#cart_table{
    border-spacing: 25px;
}

#cart_table tr td{
    margin-left: 5px;
}

.cart_img{
    border: solid 1px;
    height: 50px;
    width: 50px;

    background-color: aquamarine;

}



/*COMPARE*/


#compare{
    border: solid 2px black;
    background-color: red;

}

#compare_result{
    position: absolute;
    height: 100px;
    width: 350px;
    display: block;
    margin-left: 50%;
    margin-top: 10%;
    
    
}

.compare_text{

    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:cornsilk;
    width: 800px;

}


/*DELETE IMG*/
.delete_img_card{
    float: left;
    width: 300px;
    height: 250px;
    border: 1px black solid;
    text-align: center;
    margin-left: 50px;

}


/* FORM CSS */

body{
    background-color: #acb8c0;
}

.login-warning{
    color: black;
    font-size: 20px;
    text-decoration:underline red;

}

.form_button{
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
}

.form_button:hover{
    background-color: greenyellow;
}

.computer-link{
    border: solid white 1px;
    text-decoration: none;
    font-size: 20px;
    
    border-radius: 5px;
    padding: 5px;
    position:relative;
    top: 10px;
    
    
}

.link-red{
    color: red;
}

.link-red:hover{
    background-color: red;
    color: white;
}

.link-green{
    color: green;
}

.link-green:hover{
    background-color: green;
    color: white;
}

