*{                     
    margin: 0px;
    padding: 0px;
}

#container{
    border-style: solid;
    border-width: 1px;
    margin: auto;
    width: 99%;
    
    
    
}

                                                                /*BANNER*/
#banner{
    
    width: 100%;
    height:auto;
    background-color: burlywood;
    
   
}


#logo{
   margin-left: 20px;
   width: 75px;
   height: 75px;
   display: block;
   
    
}

#logoimage{
    width: 75px;
    height: 75px;
}

#slogan{
    text-align: center;
    
}



/*social media*/
.socialMedia{
    border-style: solid;
    width: 60px;
    height: 60px;
    float: right;
    position: relative;
    margin: 5px;
    background-color: gainsboro;
    bottom: 80px;
    text-align: center;
    border-radius: 20px;


}

.socialMedia:hover{
    border-style: solid;
    border-color: greenyellow;
}

.mediaicon{
    
    width: 50px;
    height: 50px;
    padding-top: 5px;
    
}

#menu-bar{
   
    background-color:#ac8654; 
     
 }

/*search*/

#searchForm{
    display: inline;
   
   
}

#searchInput{
    
   
    border: solid green;
    height: 60px;
    width: 250px;
    font-size: 20px;
    
}

#searchButton{
   
    display: inline;
   
}

#searchimage{
    height: 25px;
    width: 25px;
    
   
}


/*Menu bar*/
ul#menu-list{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: inline;
}

.menu-element{
    float: left;
    text-align: center;
    margin-top: 3px;
    padding: 5px;
    
    
}

.menu-link{
    display: block;
    padding: 16px 16px;
    background-color: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    
    
}

.menu-link:hover{
    background-color: #23834c;
}

#content{
    border-style: solid;
    margin-top: 10px;
    float: left;
    width: 75%;
    height: auto;
    
}

.product{
    height: 300px;
    width: 300px;
    float: left;
    border-style: solid;
    margin-left: 55px;
    margin-top: 30px;
}

#content2{
    margin-right: 5px;
    border-style: solid;
    background-color: rebeccapurple;
    height: 100px;
    width: 20%;
    float: right;
}

.product_img{
    border-style: solid;
    height: 100px;
    width: 100px;
    margin-left: 95px;
}

.product_info{
    
    margin-left: 11px;
}

ul#product-list{
    list-style-type: none;
}



/*FOOTER*/

#footer{
    border-style: solid;
    height: 40px;
    width: 100%;
    float: left;
    text-align: center;
    display: inline;
}

#footer a{
    text-decoration: none;
    color: #23834c;
    font-size: 16px;
    margin: 5px;
}

#footer a:hover{
    color: #27ae60;
}