body{
    background-color: #12232E;
}

h2{

    color: rgb(176, 218, 114);
}

.text{

    color: whitesmoke;
    font-size: 24px;
    
}

.table-text{
    color: white;

}

.form_button{
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
}

.form_button:hover{
    background-color: greenyellow;
}

.user-link{
    border: solid white 1px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 3px;
    position:relative;
    top: 10px;
    
    
}

.user-link:hover{
    background-color: white;
    color: black;
}

#user_order_table tr th{
    padding-left: 20px;
}

.cancel{

    border: solid white 1px;
    text-decoration: none;
    font-size: 20px;
    color: red;
    border-radius: 5px;
    

}
.cancel:hover{
    color: white;
    background-color: red;
}

