body{
    background-color: #12232E;
}

.header2{

    color: rgb(178, 235, 93);
}

.text{

    color: whitesmoke;
}

.form_button{
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
}

.form_button:hover{
    background-color: greenyellow;
}

.user-link{
    border: solid white 1px;
    text-decoration: none;
    font-size: 20px;
    color: red;
    border-radius: 5px;
    padding: 5px;
    position:relative;
    top: 10px;
    
    
}

.user-link:hover{
    background-color: red;
    color: white;
}
